/* App.css */
.Section-1 {
  width: 1440px;
  height: 545px;
  gap: 0px;
  opacity: 0px;
  color: white;
  background: linear-gradient(102.26deg, #5B53F9 -13.11%, #AC71D6 36.24%, #FF8E57 110.26%);
  /* clip-path: path("M0,545L0,200Q200,100,400,200Q600,300,800,200Q1000,100,1200,200Q1400,300,1400,545Z"); */
}

.smaller-image {
  width: 244px;
  height: 23.01px;
  top: 28px;
  left: 124px;
  gap: 0px;
  opacity: 0px;
  padding: 21px 124px 21px 124px;
}

.heading-1 {
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 700;
  line-height: 91px;
  letter-spacing: 0.02em;
  text-align: center;
  
}

.paragraph-1 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
}

.button-1 {
  width: 240px;
  height: 52px;
  padding: 14px 32px;
  gap: 10px;
  border-radius: 100px; 
  border: 1px solid; 
  opacity: 0px;
  text-align: center;
  margin: auto; 
  background: linear-gradient(93.05deg, #FF66C4 5.8%, rgba(242, 74, 177, 0) 98.1%);
  margin-left: 600px;
}

.Section-2{
  display: flex;
  align-items: center; 
}

.text-container {
  flex: 1;
}

.images-container {
  position: relative; 
}

.section-2-image1 {
  position: absolute; 
  top: -170px; 
  left: -420px; 
  width: 300px;
  height: 200px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.section-2-image2 {
  position: absolute; 
  top: -50px; 
  left: -350px; 
  width: 300px;
  height: 200px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}


.paragraph-2 {
  width: 611px;
  height: 294px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
margin-left: 100px;
  
}

.heading-2 {
 
  margin-left: 100px;

}

.Section-3 {
  text-align: center;
}

.image-2 {
  width: 601px;
height: 541px;
top: 1647px;
left: 419px;
gap: 0px;
opacity: 0px;

}

 .Section-4 {
  background: #F3F2FF;
  text-align: center;
  width: 1440px;
height: 589px;
top: 2300px;
left: -64px;
gap: 0px;
opacity: 0px;

 }

 .Section-5 {
  background: linear-gradient(102.26deg, #5B53F9 -13.11%, #AC71D6 36.24%, #FF8E57 110.26%);
  width: 1440px;
  height: 1374px;
  top: 2778px;
  gap: 0px;
  opacity: 0px;
  
 }

 .paragraph-5 {

font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-left: 100px;
  
}

.heading-5 {
 
  margin-left: 100px;
font-family: Montserrat;
font-size: 40px;
font-weight: 600;
line-height: 56px;
text-align: left;


}

.row {
  display: flex; /* Display children elements horizontally */
  justify-content: center; /* Center children elements horizontally */
  align-items: center; /* Center children elements vertically */
  margin-left: 40px;
}

.column {
  margin: 10px; /* Adjust spacing between images */
}

.VerticalImages {
  width: 376px;
height: 362px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}

.Service-Button{
  width: Hug (262px)px;
  height: Hug (48px)px;
  top: 598px;
  left: 408px;
  padding: 14px 32px;
  gap: 10px;
  border-radius: 100px; 
  border: 1px; 
  opacity: 0px;
  text-align: center;
  margin: auto; 
  background-color: white;
  border: 1px solid;
  
}

.Service-heading {
  text-align: center;

}

.logo-div {
  width: 1440px;
height: 211px;
top: 5110px;
left: -37px;
gap: 0px;
opacity: 0px;
background: linear-gradient(102.26deg, #5B53F9 -13.11%, #AC71D6 36.24%, #FF8E57 110.26%);

}